@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base font for PrimeReact components */
.p-component {
  font-family: var(--font-inter), sans-serif;
}


/* Custom styles for PrimeReact compatibility */
.p-component {
  font-family: var(--font-geist-sans), sans-serif;
}
